---
apiVersion: metering.openshift.io/v1
kind: Report
metadata:
  labels:
    cost-management: "true"
  name: cm-openshift-node-labels-lookback-{{ current_year_month }}
spec:
  query: cm-openshift-node-labels-lookback
  inputs:
    - name: CostManagementOpenShiftNodeLabelsReportName
      value: cm-openshift-node-labels-{{ current_year_month }}
  reportingEnd: '{{ report_end_year }}-{{ report_end_month }}-02T00:00:00Z'
  schedule:
    period: hourly
  overwriteExistingData: true
