---
apiVersion: metering.openshift.io/v1alpha1
kind: Report
metadata:
  labels:
    cost-management: "true"
  name: cm-openshift-persistentvolumeclaim-{{ current_year_month }}
spec:
  query: cm-openshift-persistentvolumeclaim
  reportingEnd: '{{ report_end_year }}-{{ report_end_month }}-02T00:00:00Z'
  schedule:
    period: hourly
