---

- name: Obtain cost-mgmt-setup info
  k8s_info:
    api_version: v1
    kind: ConfigMap
    namespace: "{{ namespace }}"
    name: cost-mgmt-setup
  register: cost_mgmt_setup

- name: Fail if cost-mgmt-setup does not exist
  fail:
    msg: 'The cost-mgmt-setup ConfigMap has not been configured.'
  when: not cost_mgmt_setup.resources

- name: Set cluster ID
  set_fact:
    ocp_cluster_id: "{{ cost_mgmt_setup.resources[0].data.clusterID }}"
  when: cost_mgmt_setup.resources

- name: Check for OCP clusterID
  debug: msg='OCP clusterID is not defined'
  when: not ocp_cluster_id

- name: Set validation boolean
  set_fact:
    ocp_validate_cert: "{{ cost_mgmt_setup.resources[0].data.validate_cert }}"
  when: cost_mgmt_setup.resources

- name: Check for validation boolean
  debug: msg='HTTPS certificate validation variable is not defined; defaulting to true'
  when: not ocp_validate_cert

- name: Set service account token name
  set_fact:
    token_name: "{{ cost_mgmt_setup.resources[0].data.service_token_name }}"
  when: cost_mgmt_setup.resources

- name: Check for service account token name
  debug: msg='Reporting Operator service account token name is not defined'
  when: not token_name

- name: Fail if the clusterID or service token are not defined
  fail:
    msg: 'The cost-mgmt-setup ConfigMap requires the clusterID and service_token_name to be defined.'
  when: not ocp_cluster_id or or not token_name

- name: Obtain metering api info
  k8s_info:
    api_version: v1
    kind: Route
    namespace: "{{ namespace }}"
  register: metering_route

- name: Set metering api route
  set_fact:
    metering_api_route: "https://{{ metering_route.resources[0].spec.host }}/api/v1/reports/get"

- name: Get the service account token
  k8s_info:
    api_version: v1
    kind: Secret
    namespace: "{{ namespace }}"
    name: "{{ token_name }}"
  register: service_token

- name: Decode the service account token
  set_fact:
    service_account_token: "{{ service_token.resources[0].data.token | b64decode }}"

- name: Set download request facts
  set_fact:
    collect_file_prefix: '{{ collect_manifest_uuid }}'
    format: "&format={{ collect_format }}"
    namespace: "&namespace={{ namespace }}"

# getting a little clever to build lists to append into
- name: initialize fact lists
  set_fact:
    api_params: []
    api_urls: []
    csv_files: []

# this appends the string inside the brackets to the 'api_params' list.
- name: compile URL query params, append to param list
  set_fact:
    api_params: "{{ api_params + ['?name='+item+format+namespace] }}"
  with_items: "{{ collect_reports }}"

# this appends the string inside the brackets to the 'api_urls' list.
- name: assemble compiled URL facts, append to list.
  set_fact:
    api_urls: "{{ api_urls + [metering_api_route+item] }}"
  with_items: "{{ api_params }}"

- name: Set download_path
  set_fact:
    collect_cluster_download_path: '{{ collect_download_path }}/{{  ocp_cluster_id }}'

- name: Remove temp files
  file:
    path: '{{ collect_cluster_download_path }}'
    state: absent
  when: collect_delete_after | bool

- name: Create temp dir for downloaded files
  file:
    path: '{{ collect_cluster_download_path }}'
    state: directory
    mode: 0777

- name: Download OCP report from endpoint
  get_url:
    url: '{{ item }}'
    headers:
      Authorization: "Bearer {{ service_account_token }}"
    dest: '{{ collect_cluster_download_path }}/{{ collect_file_prefix }}_openshift_usage_report.{{ idx }}.{{ collect_format }}'
    validate_certs: '{{ ocp_validate_cert }}'
    timeout: '{{ collect_ocp_report_timeout }}'
  with_items: "{{ api_urls }}"
  loop_control:
    index_var: idx
  register: download_result

- name: append filename to fact list
  set_fact:
    csv_files: "{{ csv_files + [item.dest | basename] }}"
  with_items: "{{ download_result.results }}"

- name: Check that required files exist
  stat:
    path: '{{ collect_cluster_download_path + "/" + item }}'
  register: csv_stat_result
  with_items:
    - '{{ csv_files }}'

- name: Check for empty download results
  fail:
    msg: 'Downloaded file {{ item }} has no content or could not be found: {{ item.stat }}.'
  when: not item.stat.exists or (item.stat.exists and item.stat.size <= 0)
  with_items:
    - '{{ csv_stat_result.results }}'

- name: copy packaging script to host
  copy:
    src: files/package_report.py
    dest: '{{ collect_download_path }}/{{  ocp_cluster_id }}/package_report.py'
    mode: 0755

- name: Run packaging script to prepare reports for sending to Insights
  command: >-
    '{{ collect_download_path }}/{{  ocp_cluster_id }}/package_report.py'
        --filepath {{ collect_cluster_download_path }}
        --max-size {{ collect_max_csvfile_size }}
        --ocp-cluster-id {{ ocp_cluster_id }}
        --overwrite

  register: packaged_reports
