---

- name: debug input_month
  debug:
    var: input_month

- name: debug month_delta
  debug:
    var: month_delta

- name: debug input_year
  debug:
    var: input_year

# Logic to set evaluate_month based on month_delta

- name: Set evaluate_month when month_delta is 0
  set_fact:
    evaluate_month: '{{ input_month | int }}'
  when: (month_delta | int) == 0

- name: Set evaluate_month when month_delta is positive and its not December
  set_fact:
    evaluate_month: '{{ (input_month | int) + (month_delta | int) }}'
  when:
    - (month_delta | int) > 0
    - (input_month | int) < 12

- name: Set evaluate_month when month_delta is positive and it is December
  set_fact:
    evaluate_month: '{{ month_delta | int }}'
  when:
    - (month_delta | int) > 0
    - (input_month | int) == 12

- name: Set evaluate_month when month_delta is negative and its not January
  set_fact:
    evaluate_month: '{{ (input_month | int) + (month_delta | int) }}'
  when:
    - (month_delta | int) < 0
    - (input_month | int) > 1

- name: Set evaluate_month when month_delta is negative and it is January
  set_fact:
    evaluate_month: '{{ 13 + (month_delta | int) }}'
  when:
    - (month_delta | int) < 0
    - (input_month | int) == 1

- name: Set evaluate_month string less than 10
  set_fact:
    evaluate_month_str: '{{ "0" + (evaluate_month | string) }}'
  when:
    - (evaluate_month | int)  < 10

# Logic to set report_end_month

- name: Set report_end_month to next month if not December
  set_fact:
    report_end_month: '{{ ((evaluate_month | int) + 1) | string }}'
  when: (evaluate_month | int) < 12

- name: Set report_end_month to 1 (January) if December
  set_fact:
    report_end_month: '1'
  when: (evaluate_month | int) == 12

- name: Set report_end_month if single digit
  set_fact:
    report_end_month: '{{ "0" + report_end_month }}'
  when:
    - (report_end_month | int)  < 10

# Logic to set evaluate_year based on month delta

- name: Set evaluate_year to current year if month delta is 0 or Feb-Nov
  set_fact:
    evaluate_year: '{{ input_year | int }}'
  when: (month_delta | int) == 0 or ((evaluate_month | int) > 1 and (evaluate_month | int) < 12)

- name: Set evaluate_year to following year if January and month_delta is 1
  set_fact:
    evaluate_year: '{{ ((input_year | int) + 1) | string }}'
  when:
    - (month_delta | int) > 0
    - (evaluate_month | int) == 1

- name: Set evaluate_year to previous year if December and month_delta is -1
  set_fact:
    evaluate_year: '{{ ((input_year | int) - 1) | string }}'
  when:
    - (month_delta | int) < 0
    - (evaluate_month | int) == 12

# Logic to set report_end_year

- name: Set report_end_year to current year if Jan-Nov
  set_fact:
    report_end_year: '{{ evaluate_year | string }}'
  when: (evaluate_month | int) < 12

- name: Set report_end_year to next year if December
  set_fact:
    report_end_year: '{{ ((evaluate_year | int) + 1) | string }}'
  when:
    - (evaluate_month | int) == 12

# cast values to a string

- name: Set evaluate_month string
  set_fact:
    evaluate_month_str: '{{ (evaluate_month | string) }}'
  when:
    - (evaluate_month | int)  >= 10

- name: Set monthly suffix for reports
  set_fact:
    current_year_month: '{{ (evaluate_year | string )  + evaluate_month_str}}'

- name: Set template_path
  set_fact:
    template_path: '{{ setup_template_path }}/{{  setup_template_dir }}'

- name: Create template location
  file:
    path: '{{ template_path }}'
    state: directory
    mode: 0755

- name: Write template report files
  template:
    src: '{{ item }}'
    dest: '{{ template_path }}/{{ item | basename | regex_replace("j2$", "yml") }}'
  with_fileglob:
    - templates/*.j2

- name: Templated reports state
  k8s:
    namespace: '{{ namespace }}'
    state: '{{ state }}'
    src: '{{ item }}'
  with_fileglob:
    - '{{ template_path }}/cm*'

- name: Remove template files
  file:
    path: '{{ template_path }}'
    state: absent
  when: setup_delete_after | bool
